In [2]:
import numpy as np
import pandas as pd
from pandas.io.excel import ExcelWriter
import os
import matplotlib.pyplot as plt

# Настройки кол-ва записей в таблицах

In [1]:
# Count of data in every table
max_count_customer: int = 100
max_count_product_inst: int = 100
max_count_costed_event: int = 10485
max_count_costed_charge: int= 1233
max_count_costed_payment: int = 12442

# Product

In [4]:
path_Product = "csv/Product.csv"
ProductDf = pd.read_csv(path_Product, delimiter=',')
ProductDf.set_index('product_id', inplace=True)

# Count of data in Product table
max_count_product = ProductDf.shape[0]

ProductDf

,product_name,product_category,product_type,recurrent,cost_for_call,cost_for_sms,cost_for_data,allowance_sms,allowance_voice,allowance_data,Price
product_id,,,,,,,,,,,
1,Unlimited 25 5G,Unlimited,Tariff,regularly,0.0,0.0,0.0,base plan,base plan,base plan,85
2,Unlimited 40 5G+,Unlimited,Tariff,regularly,0.0,0.0,0.0,base plan,base plan,base plan,90
3,Unlimited 50 5G+,Unlimited,Tariff,regularly,0.0,0.0,0.0,base plan,base plan,base plan,100
4,Voice 30,Talk & Text,Tariff,regularly,0.0,0.0,40.0,base plan,base plan,add-on,30
5,Base plan 10,Business,Tariff,regularly,NaN,NaN,75.0,NaN,NaN,add-on,35
6,Base plan 20,Business,Tariff,regularly,NaN,NaN,90.0,NaN,NaN,add-on,35
7,Base plan 30,Business,Tariff,regularly,NaN,NaN,110.0,NaN,NaN,add-on,5
8,Netflix Basic,Other,addon,regularly,NaN,NaN,NaN,NaN,NaN,NaN,10
9,Netflix Standard,Other,addon,regularly,NaN,NaN,NaN,NaN,NaN,NaN,15
10,Netflix Premium,Other,addon,regularly,NaN,NaN,NaN,NaN,NaN,NaN,20
11,Spotify Individual,Other,addon,regularly,NaN,NaN,NaN,NaN,NaN,NaN,10
12,Spotify Family,Other,addon,regularly,NaN,NaN,NaN,NaN,NaN,NaN,16
13,Add Internet,data,addon,just once,NaN,NaN,50.0,NaN,NaN,add-on,50
14,Add Calls,addon,addon,just once,30.0,NaN,NaN,NaN,add-on,NaN,30
15,Add SMS,addon,addon,just once,NaN,20.0,NaN,add-on,NaN,NaN,20
16,Ring tone 1,Other,addon,just once,NaN,NaN,NaN,NaN,NaN,NaN,2
17,Ring tone 2,Other,addon,just once,NaN,NaN,NaN,NaN,NaN,NaN,5
18,Ring tone 3,Other,addon,just once,NaN,NaN,NaN,NaN,NaN,NaN,10
19,10 gigabytes,data,addon,just once,NaN,NaN,NaN,NaN,NaN,add-on,30
20,20 gigabytes,data,addon,just once,NaN,NaN,NaN,NaN,NaN,add-on,50
21,30 gigabytes,data,addon,just once,NaN,NaN,NaN,NaN,NaN,add-on,65

# Customer

In [3]:
# ---
# 1. Create dataframe - Customer
path_Customer = "file.xlsx"

customer_id_PK: list = [i for i in range(1, max_count_customer)]
CustomerDf = pd.DataFrame(
    {
        "customer_id": pd.Series(customer_id_PK, name="customer_id", dtype="int"),
        # Add other columns here...
    }
)
CustomerDf.set_index('customer_id', inplace=True)

# Product_instance

In [ ]:
path_Product_instance = "file.xlsx"

# ---
# 3. Create dataframe - Product_instance
product_instance_id_PK: list  = [i for i in range(1, max_count_product_inst)]
customer_id_FK: list  = np.random.randint(1, max_count_customer, size=max_count_product_inst - 1)
product_id_FK: list  = np.random.randint(1, max_count_product, size=max_count_product_inst - 1) 
Product_instanceDf = pd.DataFrame(
    {
        "product_instance_id_PK": pd.Series(product_instance_id_PK, name="product_instance_id_PK", dtype="int"),
        "customer_id_FK": pd.Series(customer_id_FK, name="customer_id_FK", dtype="int"),
        "product_id_FK": pd.Series(product_id_FK, name="product_id_FK", dtype="int"),
        # Add other columns here...
    }
)
Product_instanceDf.set_index('product_instance_id_PK', inplace=True)

# Costed_event

In [35]:
# Path to save CSV
path_Costed_event = "file.xlsx"

# For generate data
event_types = ['call', 'sms', 'data']
direction_variations = ['incoming', 'outgoing']

# ---
# Generation columns for dataset 
event_id_PK: list  = [i for i in range(1, max_count_costed_event)] 
product_instance_id_FK_from_ce: list  = np.random.randint(1, max_count_product_inst, size=max_count_costed_event - 1)

# From
calling_msisdn: list = np.random.randint(1, max_count_customer, size=max_count_costed_event - 1)

# To
called_msisdn = []
for i in range(len(calling_msisdn)):
    called_msisdn_el = np.random.randint(1, max_count_customer)
    while i == called_msisdn:
        called_msisdn_el = np.random.randint(1, max_count_customer)
    called_msisdn.append(called_msisdn_el)

# Event type
event_type = np.random.choice(event_types, size=max_count_costed_event-1, p=[0.6, 0.15, 0.25])

# Direction
direction = np.random.choice(direction_variations, size=max_count_costed_event-1)

# Roaming
roaming = np.random.choice([0, 1], size=max_count_costed_event-1, p=[0.7, 0.3])

# Duration of call
duration = []
for i in range(len(event_type)):
    # if is CALL
    if event_type[i] == event_types[0]:
        duration.append(np.random.randint(1, 1800))
    else: 
        duration.append(np.NaN)

# Number_of_sms
max_lenght_sms = 150                # Max simb in one sms
simbols = np.random.normal(loc=90, scale=2.5, size=800)
number_of_sms = []
for i in range(max_count_costed_event - 1):
    rand_simb = np.random.choice(simbols)
    # If is SMS
    if event_type[i] == event_types[1]:
        if rand_simb > max_lenght_sms:
            number_of_sms_el = int(rand_simb // 150 + 1)
        else:
            number_of_sms_el = 1
        number_of_sms.append(number_of_sms_el)
    else:
        number_of_sms.append(np.NaN)

# Date 
# 1. Сгенерировать диапазон дат по каждлму дню недели
# 2. Слить в один список [mondeys, tusdays, ..] и генерить для каждой записи таблицы по вероятностям [0.4, 0.7,  ...]
# 3. Внутри цикла вытягивать из массивов дней недели рандомную дату 
# 4. Сохранять эту рандомную дату в массив Date
# 5. Еще раз пробежаться по массиву дат и приплести для каждой даты время из вспомогательного кода Романа
date = []

total_volume = []

cost = []
for i in range(max_count_costed_event - 1):
    pass


Costed_eventDf = pd.DataFrame(
    {
        "event_id_PK": pd.Series(event_id_PK, name="event_id_PK", dtype="int"),
        "product_instance_id_FK": pd.Series(product_instance_id_FK_from_ce, name="product_instance_id_FK", dtype="int"),
        

        "calling_msisdn": pd.Series(calling_msisdn, name="calling_msisdn", dtype="int"),
        "called_msisdn": pd.Series(called_msisdn, name="called_msisdn", dtype="int"),

        # "date": [1, 2, 3, 4, 5],
        # "cost": [1, 2, 3, 4, 5],
        "duration": pd.Series(duration, name="duration", dtype=pd.Int64Dtype()),
        "number_of_sms": pd.Series(number_of_sms, name="number_of_sms", dtype=pd.Int64Dtype()),
        # "total_volume": [1, 2, 3, 4, 5],
        "event_type": pd.Series(event_type, name="event_type", dtype="str"),
        "direction": pd.Series(direction, name="direction", dtype="str"),
        "roaming": pd.Series(roaming, name="roaming", dtype="int"),
        
        # Add other columns here...
    }
)
Costed_eventDf.set_index('event_id_PK', inplace=True)
Costed_eventDf

,product_instance_id_FK,calling_msisdn,called_msisdn,duration,number_of_sms,event_type,direction,roaming
event_id_PK,,,,,,,,
1,73,11,64,<NA>,1,sms,outgoing,1
2,53,79,5,<NA>,1,sms,incoming,1
3,94,52,76,<NA>,1,sms,incoming,0
4,48,49,94,<NA>,<NA>,data,outgoing,1
5,68,30,90,1141,<NA>,call,outgoing,1
...,...,...,...,...,...,...,...,...
10480,39,35,28,<NA>,<NA>,data,outgoing,1
10481,77,79,1,1227,<NA>,call,incoming,0
10482,51,3,64,810,<NA>,call,outgoing,0
10483,55,73,86,<NA>,1,sms,incoming,0
10484,10,18,58,<NA>,<NA>,data,incoming,0

# Charge

In [ ]:
path_Charge = "file.xlsx"

# ---
# 5. Create dataframe - Charge
charge_id_PK: list  = [i for i in range(1, max_count_costed_charge)] 
product_instance_id_FK_charge: list   = np.random.randint(1, max_count_product_inst, size=max_count_costed_charge - 1)
ChargeDf = pd.DataFrame(
    {
        "charge_id_PK": pd.Series(charge_id_PK, name="charge_id_PK", dtype="int"),
        "product_instance_id_FK": pd.Series(product_instance_id_FK_charge, name="product_instance_id_FK", dtype="int"),
        # Add other columns here...
    }
)
ChargeDf.set_index('charge_id_PK', inplace=True)

# Payment

In [18]:
# Path to save csv
path_Payment = "file.xlsx"

# For generating data
payment_methods = ['bank card', 'from terminal', 'from another phone']

# ---
# 6. Create dataframe - Payment
payment_id_PK: list  = [i for i in range(1, max_count_costed_payment)]
customer_id_FK_in_payment: list = np.random.randint(1, max_count_customer, size=max_count_costed_payment - 1)

# Payment method
payment_method = np.random.choice(payment_methods, size=max_count_costed_payment-1, p=[0.7, 0.2, 0.1])

# Amount
middle = 0
for i in range(1, max_count_product):
    if ProductDf['recurrent'][i] == 'regularly':
        middle += ProductDf['Price'][i]
middle /= max_count_product
amount_reg = np.random.normal(loc=middle, scale=2.5, size=max_count_costed_payment-1)
amount_once = np.random.choice([0, 10, 15, 20, 50], size=max_count_costed_payment-1, p=[0.3, 0.25, 0.3, 0.1, 0.05])
amount = amount_reg + amount_once

PaymentDf = pd.DataFrame(
    {
        "payment_id_PK": pd.Series(payment_id_PK, name="payment_id_PK", dtype="int"),
        "customer_id_FK": pd.Series(customer_id_FK_in_payment, name="customer_id_FK", dtype="int"),

        "payment_method": pd.Series(payment_method, name="payment_method", dtype="str"),
        #"date": pd.Series(customer_id_FK_in_payment, name="customer_id_FK", dtype="int"),
        "amount": pd.Series(customer_id_FK_in_payment, name="customer_id_FK", dtype="int"),
    }
)
PaymentDf.set_index('payment_id_PK', inplace=True)
PaymentDf
# ProductDf['recurrent'][1]

               customer_id_FK      payment_method  amount
payment_id_PK
1                          48  from another phone      48
2                          27       from terminal      27
3                          79           bank card      79
4                          40           bank card      40
5                          80           bank card      80
...                       ...                 ...     ...
12437                      51           bank card      51
12438                       6           bank card       6
12439                       9           bank card       9
12440                      38           bank card      38
12441                      99           bank card      99

[12441 rows x 3 columns]

In [ ]:

# # ---
# # Save to EXCEL
# with ExcelWriter(path, mode="a" if os.path.exists(path) else "w") as writer:
#     CustomerDf.to_excel(writer, sheet_name="Customer")
#     ProductDf.to_excel(writer, sheet_name="Product")
#     Product_instanceDf.to_excel(writer, sheet_name="Product_instanc")
#     Costed_eventDf.to_excel(writer, sheet_name="Costed_event")
#     ChargeDf.to_excel(writer, sheet_name="Charge")
#     PaymentDf.to_excel(writer, sheet_name="Payment")